<ion-content>
    <ion-card class ="blue-card">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card class="white">
                        <ion-card-header>
                            <ion-item>
                                <ion-icon name="stats" slot="start"></ion-icon>
                                <ion-button name ="tunes" (click)="updateBar()" fill="outline" slot="end">View Dashboard</ion-button>
                            </ion-item>
                            <ion-card-title>Tunes</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            View dashboard of data from over 34,000 traditional irish songs.
                        </ion-card-content>
                    </ion-card>
                </ion-col>


                <ion-col>
                    <ion-card class="white">
                        <ion-card-header>
                            <ion-item>
                                <ion-icon name="pie" slot="start"></ion-icon>
                                <ion-button name = "events" (click)="updatePie()" fill="outline" slot="end">View Dashboard</ion-button>
                            </ion-item>
                            <ion-card-title>Events</ion-card-title>
                        </ion-card-header>

                        <ion-card-content>
                            View a dashboard of data from over 7,500 events worldwide.
                        </ion-card-content>
                    </ion-card>
                </ion-col>


            </ion-row>
        </ion-grid>
    </ion-card>

    <div padding *ngIf="displayDo">
        <app-do-chart></app-do-chart>
    </div>

    <div padding *ngIf="display">
        <app-bar-chart></app-bar-chart>
    </div>

    <div padding *ngIf="displayPi">
        <app-polar-chart></app-polar-chart>
    </div>
</ion-content>