// ion-card {
//   background-color: rgb(245, 245, 245); // black
// }

.getstart {
  background-image: url('src/assets/background-tradfest1.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
.hello{
  background: url("/assets/background-tradfest1.jpg") no-repeat center;
}


ion-content.background{
  --background: url(../../assets/background-tradfest1.jpg) 0 0/100% 100% no-repeat;
}

ion-grid {
  height: 100%;

  ion-row {
    height: 33.33%;
  }
}