<ion-card class="blue-card">
  <ion-card-header text-center>
    <ion-card-title padding-bottom>{{tuneInformation?.name| CustomTextPipe }}</ion-card-title>
    <div class="video-container" id="player">
    </div>
  </ion-card-header>
</ion-card>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-list class="blue-card">
            <ion-list-header>
              <ion-label>Aliases</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let tune of tuneInformation?.aliases">
              <ion-label> {{tune | CustomTextPipe }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="blue-card">
          <ion-card-header>Notes</ion-card-header>
          <ion-card class="white">
            <ion-card-content>
              <div [hidden]="!displayNotes" (click)="updateDiv()" padding id="paper1"></div>
              <canvas [hidden]="!displayBar" (click)="updateDiv()" id="bar-chart"></canvas>
            </ion-card-content>
          </ion-card>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>