<ion-grid>
    <ion-row>
        <ion-col size="6">
            <ion-card style="height: 400px;">
                <canvas [hidden] = "!display" (click) = "updatePie()" id="radar-chart"></canvas>
                <canvas [hidden] = "!displayRest" (click) = "updatePie()" id="radar-chart-rest"></canvas>
            </ion-card>

        </ion-col>
        <ion-col size="6">
            <ion-card style="height: 400px;">
                <canvas id="line-chart"></canvas>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <div style="height: 400px;">
                <canvas padding id="bar-chart"></canvas>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>