ion-card{
    display: flex;
    flex-direction: column;
    width: 80% !important;
    height: auto;
    margin: auto !important;
  }

ion-card {
    background-color: rgb(245, 245, 245); // black
  }


//   /* RGB */
$color1: rgba(91, 35, 51, 1);
$color2: rgba(247, 244, 243, 1);
$color3: rgba(86, 77, 74, 1);
$color4: rgba(242, 67, 51, 1);
$color5: rgba(186, 27, 29, 1);