<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title padding> <img src='../../assets/smalllogo.jpg'></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content style="text-align: center">
        <ion-grid>

          <ion-row>
            <ion-item class = "myBorder" padding id="tunes" [routerDirection]="'root'" routerLink="/tunes">
              <ion-icon slot="start" name="ios-musical-note"></ion-icon>
              <h1>Tunes</h1>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-item class = "myBorder" padding id="news" [routerDirection]="'root'" routerLink="/news">
              <ion-icon slot="start" name="md-paper"></ion-icon>
              <h1>News</h1>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-item class = "myBorder" padding id="stats" [routerDirection]="'root'" routerLink="/statistics">
              <ion-icon slot="start" name="ios-stats"></ion-icon>
              <h1>Statistics</h1>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-item class = "myBorder" padding id="map" [routerDirection]="'root'" routerLink="/events">
              <ion-icon slot="start" name="ios-map"></ion-icon>
              <h1>Events and Sessions</h1>
            </ion-item>
          </ion-row>

        </ion-grid>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>