<ion-content padded>
  <ion-grid>
    <ion-card class = "blue-card">
      <ion-card-header>
        <ion-card-title class>Popular Tunes</ion-card-title>
        <ion-spinner name="crescent" *ngIf="popTunes == 0"></ion-spinner>
      </ion-card-header>
      <ion-row>
        <!-- removing the size will make it look ok on mobile -->
        <ion-col *ngFor="let tune of popTunes;let i = index" col-md-4 size =2>
          <ion-card [routerLink]="['/', 'tune-info', tune.id]" padding class = "white">
            <img src= {{ans[i]}} />
            <ion-card-title>{{tune.name | CustomTextPipe }}</ion-card-title>
            <ion-card-content>
              <p>Submitted by member: {{tune.member.name}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
