<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Tunes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <img src="/assets/background-tradfest.jpg" alt="" />
</ion-card>

<ion-content>
  


    <ion-card>
        <ion-card-header>
            <ion-card-subtitle> Sharig, The Pipers Of Roguery, The Hunstsman.  </ion-card-subtitle>
           </ion-card-header>
        <ion-card-content> Made by Hugus 2 hours ago. </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>  Lalabee, Jig For Simon. </ion-card-subtitle>
           </ion-card-header>
        <ion-card-content> Made by Hugus 3 hours ago. </ion-card-content>
    </ion-card>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin purus sem, laoreet vel hendrerit vitae, blandit pulvinar massa. Maecenas rutrum justo est, ut efficitur mauris interdum sed. Integer vitae nunc vitae tortor rhoncus volutpat non maximus tellus. Sed arcu lorem, semper eget hendrerit a, vulputate non leo. Ut purus nulla, vehicula interdum condimentum nec, sagittis eget diam. Ut nec risus sit amet justo pulvinar maximus ac eget libero. Vivamus a diam eu arcu venenatis lobortis a non neque. Praesent at odio sapien. Vestibulum imperdiet nunc vel eros malesuada iaculis. Fusce nec nibh vulputate, mollis erat non, vehicula nibh. Integer sed condimentum odio. Fusce sed sapien sapien.

        Duis ac ante erat. Aenean consectetur ante sit amet ipsum aliquam, a pellentesque quam iaculis. Phasellus aliquet mollis justo, ut molestie mauris aliquam ac. Sed vitae magna dolor. Cras tincidunt fermentum metus, sed feugiat metus congue nec. Sed consectetur vel dui a tempor. Nam aliquet orci id pellentesque malesuada. Praesent sollicitudin mollis mi a maximus. Quisque accumsan diam vitae ligula convallis vestibulum. Nullam et blandit tortor, in feugiat magna. Etiam vel risus imperdiet, dictum risus non, tincidunt orci. Morbi ante turpis, interdum ac tortor vel, malesuada egestas nisi.
    </ion-card-content>
  </ion-card>
</ion-content> -->

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Tunes</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
<div class="table-responsive">
  <table class="table" *ngIf ="tunes">
      <tbody>
          <tr *ngFor="let tune of tunes">
            <td>{{tune.tune.id}}</td>
            <td>{{tune.tune.name}}</td>
          </tr>
      </tbody>
  </table>
</div> -->


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" align-self: center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Newest Sets of Tunes</ion-card-title>
          </ion-card-header>
          <div>
            <ion-card *ngFor="let tune of tunes">
              <ion-card-header>
                <ion-card-subtitle>{{tune.tune.name}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>Submitted by member: {{tune.member.name}} </ion-card-content>
            </ion-card>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Popular Tunes</ion-card-title>
          </ion-card-header>
          <div>
            <ion-card *ngFor="let tune of popTunes">
              <ion-card-header>
                <ion-card-subtitle>{{tune.name}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>Submitted by member: {{tune.member.name}} </ion-card-content>
            </ion-card>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-header>
     <button (click) = "presentModal()">
       Open Modal
     </button> 
    </ion-card-header>
  </ion-card>
</ion-content> 