<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tunes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padded>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Popular Tunes</ion-card-title>
        <ion-spinner name="crescent" *ngIf="popTunes == 0"></ion-spinner>
      </ion-card-header>
      <ion-row>
        <!-- removing the size will make it look ok on mobile -->
        <ion-col *ngFor="let tune of popTunes" size = 2>
          <ion-card [routerLink]="['/', 'tune-info', tune.id]">
            <img src="/assets/images/greenish.png" />
            <ion-card-title>{{tune.name | CustomTextPipe }}</ion-card-title>
            <ion-card-content>
              <p>Submitted by member: {{tune.member.name}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>New Tunes</ion-card-title>
        <ion-spinner name="crescent" *ngIf="tunes == 0"></ion-spinner>
      </ion-card-header>
      <ion-row>
        <ion-col *ngFor="let tune of tunes" size =2>
          <ion-card>
            <img src="/assets/images/blueish.png" />
            <ion-card-title>{{tune.tune.name | CustomTextPipe }}</ion-card-title>
            <ion-card-content>
              <p>Submitted by member: {{tune.member.name}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>

`